<!-- Footer -->
<footer class="padding-64 light-grey small center" id="footer">
  <div class="row-padding">
    <div class="col-footer s4">
      <h4>Contact</h4>
      <p>Questions? Go ahead.</p>
      <form action="/action_page.php" target="_blank">
        <p><input
            class="input border"
            type="text"
            placeholder="Name"
            name="Name"
            required
          /></p>
        <p><input
            class="input border"
            type="text"
            placeholder="Email"
            name="Email"
            required
          /></p>
        <p><input
            class="input border"
            type="text"
            placeholder="Subject"
            name="Subject"
            required
          /></p>
        <p><input
            class="input border"
            type="text"
            placeholder="Message"
            name="Message"
            required
          /></p>
        <button type="submit" class="button block black">Send</button>
      </form>
    </div>

    <div class="col-footer s4">
      <h4>About</h4>
      <p><a href="#">About us</a></p>
      <p><a href="#">We're hiring</a></p>
      <p><a href="#">Support</a></p>
      <p><a href="#">Find store</a></p>
      <p><a href="#">Shipment</a></p>
      <p><a href="#">Payment</a></p>
      <p><a href="#">Gift card</a></p>
      <p><a href="#">Return</a></p>
      <p><a href="#">Help</a></p>
    </div>

    <div class="col-footer s4 justify">
      <h4>Store</h4>
      <p><i class="fa fa-fw fa-map-marker"></i> Company Name</p>
      <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
      <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
      <h4>We accept</h4>
      <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
      <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
      <br />
      <i class="fa fa-facebook-official hover-opacity large"></i>
      <i class="fa fa-instagram hover-opacity large"></i>
      <i class="fa fa-snapchat hover-opacity large"></i>
      <i class="fa fa-pinterest-p hover-opacity large"></i>
      <i class="fa fa-twitter hover-opacity large"></i>
      <i class="fa fa-linkedin hover-opacity large"></i>
    </div>
  </div>
</footer>